* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.start-page {
    margin: 0 auto;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(169, 168, 168);
    padding-top: 100px;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
    color: red;

}

.comment {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.btn-start,
.btn-submit {
    margin-top: 80px;
    border: none;
    background-color: red;
    padding: 20px;
    cursor: pointer;
}

.btn-submit {
    margin-top: 0;
}

.btn-start:hover,
.btn-start:focus,
.btn-submit:hover,
.btn-submit:focus {
    background-color: rgb(252, 91, 91);
}

.btn-submit:disabled {
    background-color: rgb(255, 179, 179);
}

.btn-submit:disabled:hover,
.btn-submit:disabled:focus {
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

input {
    max-width: 140px;
    font-size: 18px;
    text-align: center;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-ms-clear {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.inputs {
    display: flex;
    margin-top: 80px;
    margin-bottom: 30px;
    gap: 20px;

}

.is-hidden {
    display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-property: visibility, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden-modal {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}

.modal {
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color: rgb(108, 108, 108);
    cursor: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receipt {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.comment-receipt {
    font-size: 14px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-thats-all,
.btn-take-another {

    border: none;
    background-color: red;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 12px;
}

.btn-thats-all:hover,
.btn-thats-all:focus,
.btn-take-another:hover,
.btn-take-another:focus {
    background-color: rgb(252, 91, 91);
}